/* addEditPayrollModal.scss */
@import "../../styles/global.scss";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  // Semi-transparent overlay
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;  // Ensures the modal appears above other content
  }
  
  .modal-content {
    background: var(--soft-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--main-color);
  }

  .form{
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--soft-color);
  }
  
  input,
  select,
  button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: var(--main-color);
    background-color: var(--dark-bg);
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #45a049;
    }
  
    &:active {
      transform: scale(0.98);
      transition: transform 0.1s ease;
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  
  button:focus {
    outline: none;
  }
  